.about-area {
    padding: 40px 0 80px;

    @media (min-width: 992px) {
        padding: 120px 80px 80px;
    }

    .title,
    .text {
        padding: 0 24px;

        @media (min-width: 992px) {
            padding: 0;
        }
    }

    .about-img {
        width: 100%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 0 24px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .features-item {
        padding: 20px;
        background-color: $lightColor1;
        border: 1px solid $lightColor2;
        border-radius: 8px;

        .title-card-area {
            @include flex(center, unset);
            margin-bottom: 12px;

            .card-icon {
                width: 32px;
                height: 32px;
                @include flex(center, center);

                img {
                    height: 100%;
                    object-fit: contain;
                }
            }

            .title-card {
                margin-bottom: 0;
                font-size: $textFontSize;
                color: $primary;
                margin-left: 12px;
                font-weight: 700;
                line-height: 24px;
            }
        }

        .text {
            margin-bottom: 0;
        }
    }

    @media (min-width: 992px) {
        .accordion {
            margin-top: 48px;

            &-item {
                padding: 16px;
                border: 1px solid $lightColor2;
                background-color: $lightColor1;

                button {
                    position: relative;
                    padding: 0;
                    margin-bottom: 8px;
                    background-color: $lightColor1;

                    &::before {
                        content: "";
                        height: 0;
                        @include absoluteTopLeft(-16px, -16px);
                        width: 2px;
                        background-color: $secondary;
                        transition: .3s;
                    }

                    &::after {
                        content: unset;
                    }

                    &:not(.collapsed),
                    &:focus {
                        outline: none;
                        border: none;
                        box-shadow: none;
                        background-color: $lightColor1;

                        &::before {
                            height: calc(100% + 32px);
                        }
                    }

                    img {
                        width: 32px;
                        height: 32px;
                        object-fit: contain;
                    }

                    .text {
                        color: $primary;
                        margin-left: 12px;
                    }
                }
            }

            &-body {
                padding: 0;

                .text {
                    color: $darkColor;
                    margin-bottom: 0;
                    padding: 0;
                }
            }
        }
    }
}
