a.button {
    font-family: $fontFamily1;
    padding: 8px 16px;
    border-radius: 1000px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    width: 100%;
    text-align: center;

    &-dark {
        background-color: $secondary;
        color: $primary;
    }

    &-light {
        background-color: $white;
        color: $primary;
    }

    &-light-stroke {
        border: 2px solid $white;
        color: $white;
    }

    &-link {
        padding: 0;
        color: $primary;
        font-weight: 700;

        img {
            width: 24px;
            height: 24px;
            object-fit: contain;
            margin-left: 12px;
        }
    }

    @media (min-width:992px) {
        width: fit-content;
        padding: 8px 24px;
        transition: .3s;

        &-dark {
            background-color: $secondary;
            color: $primary;

            &:hover {
                background-color: darken($secondary, 5%);
            }
        }

        &-light {
            background-color: $white;
            color: $primary;
        }

        &-light-stroke {
            border: 2px solid $white;
            color: $white;

            &:hover {
                background-color: rgba($white, .1);
            }
        }

        &-link {
            &:hover {
                background-color: $lightColor3;
            }
        }
    }
}
