.cta-area {
    padding: 40px 24px;
    background-color: $primary;

    .text {
        padding-bottom: 60px;
    }

    a {
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media (min-width: 992px) {
        &-plans {
            position: relative;
            padding: 80px;
            width: 70%;

            &::after {
                content: '';
                background-image: url('../../public/effects/effect-pattern-2.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 550px;
                height: 200px;
                @include absoluteBottomLeft(0, calc(100% - 200px));
            }

            .button {
                margin-right: 24px;
            }
        }
    }
}