.video-area {
    padding: 40px 24px;

    @media (min-width: 992px) {
        padding: 80px;
    }

    .video {
        &-card {
            background-color: $lightColor1;
            border-radius: 8px 8px 16px 16px;

            @media (min-width: 992px) {
                position: relative;
                @include flex(center, unset)
            }
        }

        &-thumb {
            width: 100%;
            height: auto;

            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }

            @media (min-width: 992px) {
                width: 30%;
                height: 100%;
                @include absoluteBottomLeft(40px, 100px);

                img {
                    border-radius: 8px;
                }
            }
        }

        &-description {
            padding: 16px;

            @media (min-width: 992px) {
                padding: 40px 40px 40px 120px;
                width: 65%;
                margin-left: auto;
            }

            @media (min-width: 1500px) {
                padding: 80px 40px 80px 120px;
            }

            .text {
                color: $primary;
            }

            small {
                font-family: $fontFamily2;
                color: $darkColor;
                font-weight: 400;
                letter-spacing: 0.02em;
                line-height: 16px;
                font-size: $textFontSize - 4px;

                span {
                    position: relative;
                    font-weight: 700;
                    margin-right: 4px;

                    &::after {
                        content: '';
                        @include absoluteTopRight(50%, -4px);
                        transform: translateY(-50%);
                        width: 2px;
                        height: 2px;
                        border-radius: 50%;
                        background-color: $darkColor;
                    }
                }
            }
        }
    }
}