.video-area {
    padding: 40px 24px;

    .video {
        &-card {
            background-color: $lightColor1;
            border-radius: 8px 8px 16px 16px;
        }

        &-thumb {
            width: 100%;
            height: auto;

            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }

        &-description {
            padding: 16px;

            .text {
                color: $primary;
            }

            small {
                font-family: $fontFamily2;
                color: $darkColor;
                font-weight: 400;
                letter-spacing: 0.02em;
                line-height: 16px;
                font-size: $textFontSize - 4px;

                span {
                    position: relative;
                    font-weight: 700;
                    margin-right: 4px;

                    &::after {
                        content: '';
                        @include absoluteTopRight(50%, -4px);
                        transform: translateY(-50%);
                        width: 2px;
                        height: 2px;
                        border-radius: 50%;
                        background-color: $darkColor;
                    }
                }
            }
        }
    }
}