@mixin flex($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin absoluteTopLeft($top, $left) {
    position: absolute;
    top: $top;
    left: $left;
}

@mixin absoluteTopRight($top, $right) {
    position: absolute;
    top: $top;
    right: $right;
}

@mixin absoluteBottomLeft($bottom, $left) {
    position: absolute;
    bottom: $bottom;
    left: $left;
}

@mixin absoluteBottomRight($bottom, $right) {
    position: absolute;
    bottom: $bottom;
    right: $right;
}