.title {
    font-family: $fontFamily1;
    font-size: $titleFontSize;
    line-height: $titleLineHeight;
    margin-bottom: 8px;

    &-dark {
        color: $primary;
    }

    &-light {
        color: $white;
    }

    @media (min-width: 992px) {
        font-size: $titleFontSize + 10px;
        line-height: $titleLineHeight + 8px;
    }
}

.text {
    font-family: $fontFamily2;
    font-size: $textFontSize;
    line-height: $textLineHeight;
    text-decoration: none;

    &-dark {
        color: $darkColor;
    }

    &-light {
        color: $lightColor1;
    }

    @media (min-width: 992px) {
        font-size: $textFontSize + 6px;
        line-height: $textLineHeight + 8px;
    }
}

.title,
.text {
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.02em;
}
