// ====== COLOR VARIABLES
$primary: #001e27;
$secondary: #00e2f4;
$darkColor: #4f5c5c;
$lightColor1: #f7f7f7;
$lightColor2: #dbdfde;
$lightColor3: #eceeee;
$lightColor4: #c2d4d6;
$white: #fff;
$black: #000;

// ====== TYPOGRAPHY VARIABLES
$fontFamily1: "Poppins", sans-serif;
$fontFamily2: "Source Sans Pro", sans-serif;

$titleFontSize: 22px;
$textFontSize: 16px;

$titleLineHeight: 32px;
$textLineHeight: 24px;

