// ====== COLOR VARIABLES
$primary: #001E27;
$secondary: #00E2F4;
$typographyColor: #4F5C5C;
$lightColor1: #F7F7F7;
$lightColor2: #DBDFDE;
$white: #FFF;
$black: #000;

// ====== TYPOGRAPHY VARIABLES
$fontFamily1: 'Poppins', sans-serif;
$fontFamily2: 'Source Sans Pro', sans-serif;

$titleFontSize: 22px;
$textFontSize: 16px;

$titleLineHeight: 32px;
$textLineHeight: 24px;